.game-container{
	position: relative;
	width: 60vw;
	height: 30vw;
	background-color: black;
}

.game-container > img{
	position: absolute;
	left: 0;
	top:0;
	width: 4.166%;
}

.game-container .earth{
	display: flex;
	flex-wrap: wrap;
	width: 60vw;
	height: 30vw;
}

.game-container div{
	height: 8.333%;
	width: 4.166%;
}

.game-container .water{
	background-color: #1a7ffe;
}
.game-container .land{
	background-color: #ffbb4d;
}
.game-container .grass{
	background-color: #47b110;
}
.game-container .hills{
	background-color: #054105;
}